@media screen and (min-width: 321px) {

    /* Plane Layout */
    #player1 {
        bottom: 50%;
    }
    #player1 .dashboard {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        height: 100%;
    }

    #player2 {
        top: 50%;
        bottom: 0;
    }
}