@media screen and (min-width: 321px) and (orientation: portrait) {

    /* Plane Layout */
    #player1 {
        top: 50%;
        bottom: 0;
    }

    #player2 {
        bottom: 50%;
        content: 'i';
    }
    #player2 .dashboard {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        height: 100%;
    }
}

@media screen and (min-width: 641px) and (orientation: landscape) {

    /* Plane Layout */
    #player1 {
        left: 50%;
    }

    #player2 {
        right: 50%;
    }
    #player2 .dashboard {
        height: 100%;
    }

    .dashboard header {
        padding: 25px 30px;
        font-size: 48px;
        line-height: 48px;
    }
}