# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

.idea/

.idea/misc.xml

.idea/misc.xml

.idea/misc.xml

.idea/vcs.xml

.idea/workspace.xml

.idea/misc.xml
